* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.listings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 1rem;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card > p {
  font-size: 14px;
  color: gray;
}

#NFTName {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
