.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.right {
  width: 40%;
}

.left h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.right p {
  font-size: 14px;
  color: gray;
}

.gradient {
  position: relative;
  margin-top: 3.5rem;
  width: 100%;
  height: 370px;
  background: rgb(225, 199, 242);
  background: linear-gradient(
    135deg,
    rgba(225, 199, 242, 1) 0%,
    rgba(156, 199, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.cta {
  /* margin-bottom: 2rem; */
  display: flex;
  align-items: center;
  position: relative;
}

.buttonCard {
  height: 120px;
  width: 300px;
  padding: 12px;
  /* background-color: #ffffff0d; */
  background-color: #ffffffd8;
  border: 1px solid #e2e2e26b;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 2;
  position: relative;
}

.buttonCard span {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
}

.buttonCard span div::after {
  background-color: #f6f6fe;
}

.buttonCard:hover span div::after {
  background-color: #ffffff;
}

.buttonCard:hover {
  background-color: #ffffff;
}

.hollow {
  background-color: #ffffff69 !important;
  cursor: initial;
}

.hollow h4,
.hollow p {
  color: gray !important;
}

.buttonCard h4 {
  font-size: 18px;
  font-weight: 500;
  color: #414040;
}

.buttonCard:hover h4 {
  color: black;
}

.buttonCard p {
  font-size: 14px;
  color: #424242;
}

.dashed {
  position: relative;
  height: 100%;
  width: 2rem;
}

.dashed::after {
  position: absolute;
  content: "";
  width: 100%;
  border-top: 2px dashed #ffffff4e;
  top: 50%;
  left: 0;
  z-index: 1;
  translate: 0 -50%;
}

#astroLeft,
#astroRight {
  position: absolute;
}

#astroLeft {
  top: 0;
  left: 0;
  width: 180px;
  transform: translate(-30%, -25%);
}

#astroRight {
  bottom: 0;
  right: 0;
  transform: translate(20%, 10%);
  width: 120px;
}

.wallet button {
  border-radius: 4px;
}

@media only screen and (min-width: 680px) {
  .wallet {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
  }

  .left,
  .right {
    width: 100%;
  }

  .gradient {
    height: max-content;
    padding: 1rem;
    border-radius: 10px;
  }

  .gradient > p {
    font-size: 15px;
    padding-block: 8px;
  }

  .cta {
    flex-direction: column;
  }

  .dashed {
    width: 2px;
    height: 20px;
  }

  .dashed::after {
    width: 100%;
    height: 100%;
    border-top: none;
    border-left: 2px dashed #ffffff6b;
    top: 0%;
    left: 50%;
    translate: -50% 0%;
  }

  #astroLeft,
  #astroRight {
    display: none;
  }
}
