.container {
  /* width: 300px; */
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.08) 0px 48px 100px 0px;
  padding: 1rem;
}

.img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  scale: 1.07;
  margin: 0 auto;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container > p {
  font-size: 14px;
  color: gray;
}

#NFTName {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

#creator {
  margin-top: 2px;
}

#creator + p {
  margin-top: 12px;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  gap: 4px;
}

#buy {
  background: linear-gradient(
    135deg,
    rgb(189, 149, 216) 0%,
    rgb(102, 153, 219) 100%
  );
  padding: 1px;
  display: flex;
  border-radius: 4px;
}

.footer button {
  padding: 2px 12px;
  font-size: 14px;

  background-color: black;
  border-radius: 4px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
